body {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

.home-container {
    display: flex;

    ul {
        margin : 0;
        padding: 0;

        li {
            cursor       : pointer;
            list-style   : none;
            color        : #989798;
            padding      : 15px 5px 15px 20px;
            border-bottom: 1px solid #424242;
            font-family  : "Roboto-Bold", Helvetica;
            font-size    : 16px;
            font-weight  : 700;

            &:hover {
                color           : white;
                background-color: #5c5c5c;
            }
        }

        .active {
            list-style   : none;
            color        : white;
            padding      : 15px 5px 15px 20px;
            border-bottom: 1px solid #424242;
            font-family  : "Roboto-Bold", Helvetica;
            font-size    : 16px;
            font-weight  : 700;
        }
    }

    .side-bar {
        width           : 150px;
        height          : 100vh;
        background-color: black;
    }

    .content {
        width: calc(100% - 150px);

        .main {
            padding: 10px 65px;

            .logo {
                width : 310px;
                height: 122px;
            }

            .group1 {
                margin-top      : 15px;
                text-align      : center;
                background-color: #efefef;
                padding         : 15px 221px;

                .text1 {
                    font-weight: 700;
                    font-size  : 18px;
                }

                .text2 {
                    font-size  : 16px;
                    font-family: "Roboto-Regular", Helvetica;
                }
            }

            .group2 {
                margin-top     : 20px;
                display        : flex;
                justify-content: space-between;

                .item {
                    width: 30%;

                    .item-title {
                        font-family: "Roboto-Bold", Helvetica;
                        font-weight: 700;
                        font-size  : 24px;
                        margin     : 10px 0;
                    }

                    .item-detail {
                        p {
                            margin : 0;
                            padding: 0;
                        }

                        img {
                            width : 128px;
                            height: 128px;
                        }
                    }
                }
            }
        }

        .footer {
            padding : 0 65px;
            width   : calc(100% - 150px);
            position: fixed;
            bottom  : 0;
            border  : 1px solid #DEDEDE;

            p {
                font-family   : Roboto;
                font-size     : 16px;
                font-weight   : 400;
                line-height   : 19px;
                letter-spacing: 0em;
                text-align    : left;
            }
        }
    }
}